.whiteBox {
    background: #9fd5cb;
    width: 250px;
    min-height: 80px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
//   .shadow {
//     box-shadow: 0px 0px 20px 3px rgba(168, 187, 211, 0.15);
//   }
//   .shadow:hover {
//     box-shadow: 0px 0px 30px 8px rgba(150, 190, 238, 0.25);
//   }
  .pad15 {
    padding: 15px;
  }

  .strong {
    font-weight: 700;
  }